body{
    margin:10px;
    padding: 0px;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* 전체 페이지 Div 공통 css */


.pagesDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px;
    margin-top: 100px;

    text-align: center;

    color: white;



    width: 80%;

}
