#root{
    


.itemBox{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: white;
    color: black;
    
    width: 250px;
    height: auto;

    margin: 20px;
    padding: 10px;
}

.itemBox img{
    height: 170px;
    width: 170px;

    margin-top: 10px;
    background-color: black;
}


/* topBtn */

.topBtn{
    right: 80px;
    bottom: 50px;
    position: fixed;

}

.topBtn:hover{
    cursor: pointer;
}


/* contact */

#contact{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact h1{
    color: #fff;
    font-size: 3rem;
}
#contact form{
    width:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#contact form input,
#contact form textarea,
#contact form select
{
    width:100%;
    height:50px;
    margin:5px 0px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #ffffff2d;
    color: #ffffff;
    border-radius: 5px;

}



#contact form option{
    color: #000000;

}

#contact form textarea{
    height: 150px;
}
#contact form input[type="submit"]{
    height: 45px;
    background: linear-gradient(90deg, #FF1414 20%,#f70000);
    color: #ffffff;
    text-transform: uppercase;
}

.gxProgDiv{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    margin: 50px;
    margin-top: 100px;

    text-align: center;

    color: white;

    width: 80%;


    
}


}

.footer-page{


    margin-top: 50px;
    
    text-align: center;

    color: rgba(245, 245, 245, 0.432);
    font-size: small;
}


.footer-page>p{
    margin: 5px;
}

.footer-page>p>span{
    margin-right: 10px;
}

.gxBox{
    background-color: white;
    color: black;
    margin: 30px;
    padding-top: 20px;
    width: 200px;
    height: 250px;

}



.myBooksTable td{
    border: 1px solid black ;
    padding: 5px 10px 5px 10px;
}